
<div class="row" id= dodo>
  <div class="col-xs-6 col-xs-offset-3" id= dodo>
    <h1>Rêves</h1>
      <ul>
        <li> Description : <%= @dream.description %> </li>
        <li> Date : <%= @dream.date %> </li>
      </ul> -->
      <%= link_to 'Index', dreams_path,  class: "btn btn-primary btn-lg" %></td>
  </div>
</div>
