
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://optimistick.fr/628-thickbox_default/attrape-reves.jpg');">
  <div class="banner-content">
    <h1>Dream Catcher</h1>
    <p>L'appli qui retient tes rêves'</p>


    <%= link_to "Start now",new_dream_path , class: "btn btn-primary btn-lg" %>

  
  </div>
</div>



