

.reve{
  // border:2px  solid rgb(0, 0, 0);
  background-color:rgb(124, 130, 155);
  width : 700px;
  text-align: center;
  margin: 0 auto;
  // padding: 20px;
  color: white;
  }

h1{
  text-align: center;
  }

.row{
  margin: 200px;
  background-color: rgb(124, 130, 155);
  text-align : center;
  padding: 20px;
  // padding:20px;
}
h1, li{
  color: white;
  list-style-type:none;
}
// rgb(134, 165, 216)#182952 rgb(45, 55, 84)rgb(47, 61, 84)
li::first-letter {
  // margin: 10px 5px 0 0;
  // padding: 0 10px 0 0;
  // line-height: 80px;
  color: rgb (20,20,20);
  font-size: 130%;
  font-weight: bold;
  // float :left;
}
.btntous{
  margin: 0 0 20 0
}
