

.reve{
  border:1px dotted rgb(116, 210, 219);
  background-color:rgb(47, 61, 84);
  width : 700px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  color: white;
  }

h1{
  text-align: center;
  }

.row{
  margin: 200px;
  }
// rgb(134, 165, 216)#182952 rgb(45, 55, 84)
