
#dodo{
  background-color: rgb(82, 214, 221);

  }
.reve{
  border:1px dotted rgb(116, 210, 219);
  background-color: rgb(134, 165, 216);
  width : 700px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  }

h1{
  text-align: center;
  }

.row{
  margin: 200px;
  }
